.dots
.bash_history
.bash_logout
.cache/
.cargo/
.config/fish/completions/
.config/fish/conf.d/.gitnow
.config/fish/conf.d/_pure_init.fish
.config/fish/conf.d/fzf.fish
.config/fish/conf.d/gitnow.fish
.config/fish/conf.d/gitnow_config.fish
.config/fish/conf.d/pure.fish
.config/fish/fish_variables
.config/fish/fishfile
.config/fish/functions/
.config/nvim/.netrwhist
.fzf.bash
.fzf/
.git-credentials
.gitconfig
.local/
.profile
.rustup/
.ssh/
.sudo_as_admin_successful
.vim/
.viminfo
.wget-hsts
gits/
